.vagrant
tutorial/vendor
repo/*
!repo/gitkeep
tutorial/docker/vendor/*
!tutorial/docker/vendor/.gitkeep
project/
typings/
node_modules/*
npm-debug.log

coverage
lib
package-lock.json
elm-stuff