header.header
  .header__inner
    .header-utilities
      a.header-utilities__logo(href='#')
        img(src='/assets/img/logo.svg' alt='')
      a.header-utilities__btn.btn(href='#') &#x304A;&#x554F;&#x3044;&#x5408;&#x308F;&#x305B;
    // /.header-utilities
    nav
      ul.header-nav
        li.header-nav__item
          a.header-nav__link(href='#') &#x79C1;&#x305F;&#x3061;&#x306E;&#x7279;&#x5FB4;
        li.header-nav__item
          a.header-nav__link(href='#') &#x30B5;&#x30FC;&#x30D3;&#x30B9;
        li.header-nav__item
          a.header-nav__link(href='#') &#x5236;&#x4F5C;&#x5B9F;&#x7E3E;
        li.header-nav__item
          a.header-nav__link(href='#') &#x4F1A;&#x793E;&#x60C5;&#x5831;
        li.header-nav__item
          a.header-nav__link(href='#') &#x63A1;&#x7528;&#x60C5;&#x5831;
        li.header-nav__item
          a.header-nav__link(href='#') &#x30D6;&#x30ED;&#x30B0;
  // /.header__inner