extends ../shared/layout

block content
  h2= title
  h3= message
  p Use this area to provide additional information.
  address One White Map
    br
    | Forcelia 66-11
    br
    abbr(title="Phone") P:
    | 090.1234.5678
  address
    strong Support:
    a(href="mailto:Support@example.com") Support@example.com
    br
    strong Marketing:
    a(href="mailto:Marketing@example.com") Marketing@example.com
