html
  head
    title 惨劇RoopeRシナリオ作成
    link(rel='stylesheet', href='//cdn.muicss.com/mui-0.9.9/css/mui.min.css')
    meta(charset="UTF-8")
  body
    h1 惨劇RoopeRシナリオ作成
    div(id="root")
    script(src="/public/javascripts/vendor.bundle.js")
    script(src="/public/javascripts/bundle.js")
