
{{#rstReference}}
.. _{{rstReference}}:

{{/rstReference}}

{{#h2}}{{#titlecase}}{{kind}}{{/titlecase}}: ``{{name}}``{{/h2}}

{{description}}

.. js:function:: {{signature}}

    {{#pre}}
    {{#params}}
    :param {{signature}}: {{description}}
    {{/params}}
    {{#returns}}
    :return {{signature}}: {{description}}
    {{/returns}}
    {{/pre}}
