@import '~purecss/build/pure.css';

body {
    background-color: #ddd;
    margin-top: 20px;
}
.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        margin-right: 30px;
    }
}
button {
    margin-right: 15px;
}

// ここから↓ 狂気カード用設定

.flex{
  display: flex;
}
.f1{
  flex: 1;
}
.print ul {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.insane-card{
  display:flex;
  flex-direction: row;
  width:400px;
  margin: 10px;
}
.card .card-title{
  font-size: 1em;
}

.insane-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.font-ss{
  font-size: 0.7em;
}
.font-s{
  font-size: 0.8em;
}
.font-m{
  font-size: 0.9em;
}
.insane-secret-footer{
  flex:1;
  text-align:center;
}
.deleteButton{
  position: absolute;
}
@media print{
  .print{
    /*width: 172mm;*/ /* A4縦の幅 */
   /* height: 251mm;*/ /* A4縦の高さ */
    width: 800px;
  }
  .font-ss{
    font-size: 0.56em;
  }
  .font-s{
    font-size: 0.6em;
  }
  .font-m{
    font-size: 0.75em;
  }

  .printHide,
  .inputArea,
  .page-footer,
  #navigation,
  h1,
  .deleteButton
  {
    display:none;
  }
  .container{
    margin:0;
    padding:0;
  }
  .insane-card{
  display:flex;
  flex-direction: row;
  width:380px;
  }
  
  .page-break {
     page-break-after: always;
  }

}