@import "~purecss/build/pure.css";

body {
  background-color: #ddd;
  margin-top: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  align-items: center;
  display: flex;

  img {
    margin-right: 30px;
    width: 60px;
  }
}

button {
  margin-right: 15px;
}

.logo {
  background: url("images/logo.png");
  background-size: cover;
  height: 60px;
  width: 60px;
}
