---
# docker-composeのインストールに使用。
# anibleのインストールに利用するようになったためそちらに移動
#- name: curl install
#  apt: name=curl state=present
# 対話型シェルの自動化に使用
- name: expect install
  apt: name=expect state=present

- name: bashの設定ファイルをコピー
  copy: >
    src=.bashrc
    dest=/home/vagrant/.bashrc
    owner=vagrant
    group=vagrant
    mode=0644