server{
  listen {{ nginx_service_ip }}:{{ nginx_service_port }};
  root {{ http_doc_root }};

  location ~* /wp-config.php {
    deny all;
  }
  location @wp {
      rewrite ^/wordpress(.*) /wordpress/index.php?q=$1;
  }
  location ^~ /wordpress {
      root {{ http_doc_root }};
      index index.php index.html index.htm;
      try_files $uri $uri/ @wp;

      location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $request_filename;
        fastcgi_pass unix:{{ phpfpm_unix_socket }};
      }
  }
}