<?xml version="1.0" encoding="utf-8" ?>
<!-- NLog 内部のログはいったん出力しないこととする -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

<extensions>
	<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- コンソールに出力  -->
		<target xsi:type="Console" name="alloutput"
				   layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="ownFile-web" fileName="C:\temp\logs\${date:format=yyyy}\${date:format=MM}\nlog-own-${shortdate}.log"
				   layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<target xsi:type="File" name="ownFile-access" fileName="C:\temp\accessLogs\${date:format=yyyy}\${date:format=MM}\nlog-access-${shortdate}.log"
				   layout="${longdate},${message} ${exception:format=tostring}" />
	</targets>
	<rules>
		<!--コンソールには Trace レベル以上のログすべてを出力-->
		<logger name="*" minlevel="Trace" writeTo="alloutput" />
		<!--Microsoft.* のクラスの Info レベル以下のログはスキップ-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="ownFile-web" />
		<!-- HomeController に対するアクセスログ( Info レベル)のみ記録 -->
		<logger name="WebApplication1.Controllers.HomeController" minLevel="Info" maxLevel="Info" writeTo="ownFile-access" />
	</rules>
	</nlog>